<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuseAppExample">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.publift.mobile.TAG_ID"
            android:value="4196" />
        <meta-data
            android:name="com.publift.mobile.TENANT_CODE"
            android:value="publift" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComposeActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".XmlActivity" />
    </application>

</manifest>
